include ../_layout/_mixin
aside.aside
	div.category
		-var category = [{name:'Флагманы', active:'', class: 'flagship'},{name: 'Бюджетная линейка', active: '_active', class: 'budget'}]
		ul.category__list
			each item in category
				li.category__item
					a(href="#" class="#{item.active == '_active' ? 'category__link_active' : ''}").category__link
						|#{item.name}

	div.accordion
		ul.accordion__list
			li.accordion__item.active
				a(href="#").accordion__trigger
					|Наличие в магазинах
					i.accordion__up
				ul.accordion__inner
					li.accordion__inner-item.accordion__item_check
						input(id="all" type="radio" name="availability" checked).radio__input
						label(for="all").radio__label 
							|Во всех магазинах
					li.accordion__inner-item.accordion__item_check
						input(id="nearest" type="radio" name="availability").radio__input 
						label(for="nearest").radio__label
							|В ближайшем ко мне магазине
			li.accordion__item.accordion__inner-item_check.active
				a(href="#").accordion__trigger
					|Бренды
					i.accordion__up

				+checkbox('accordion__inner', ['lenovo', 'apple', 'samsung', 'asus', 'motorola'])

				

			li.accordion__item.active
				div.price
					a(href="#").accordion__trigger
						|Цена
						i.accordion__up
					ul.accordion__inner.price__list
						li.accordion__inner-item
							span.price__text от
							input(type="text" ).price__input.price__input_from.price-left
							span.price__text до
							input(type="text" ).price__input.price__input_to.price-right
						li.accordion__inner-item
							div(class="price__element" data-min="0" data-max="25000")

			li.accordion__item.active
				a(href="#").accordion__trigger
					|Цвет
					i.accordion__up
				ul.accordion__inner
					li.accordion__inner-item
						-var color = ['white', 'grey', 'black', 'darkblue', 'red', 'yellow', 'orange', 'green', 'blue', 'purple', 'pink', 'brown']
						
						ul.color__list
							each item in color
								li.color__item
									a(href="#" class="color__link_#{item}" ).color__link
										|#{item}
			li.accordion__item.active
				a(href="#").accordion__trigger
					|Операционная система
					i.accordion__up
				+checkbox('accordion__inner', ['android', 'iOs', 'windows mobile', 'symbian', 'custom'])