div.section-wrapper
	-var breadcrumbs = [{name: 'Главная', link: '#'}, {name: 'Каталог', link: '#', active: '_active'}]
	ul.breadcrumbs__list
		each item in breadcrumbs
			li.breadcrumbs__item
				a(href="#{item.link}" class="#{item.active == '_active' ? 'breadcrumbs__link_active' : ''}").breadcrumbs__link
					|#{item.name} 