@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
body {
  font-family: 'OpenSans';
  font-size: 14px;
  color: #333333; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  background: #f4f4f4; }

.wrapper {
  width: 100%; }

.header {
  width: 100%;
  background: #ffffff; }

.header-contact {
  box-sizing: border-box;
  min-height: 77px;
  padding-top: 25px; }

.section-wrapper {
  width: 1100px;
  margin: auto; }
.section-wrapper:before, .section-wrapper:after {
  content: "";
  display: table; }
.section-wrapper:after {
  clear: both; }

.header-search {
  box-sizing: border-box;
  background: #f4f4f4;
  border-top: 2px solid #dee1e4;
  height: 96px;
  padding-top: 30px; }

.nav {
  background: #ffffff; }

.social {
  display: inline-block;
  float: left; }

.social__item {
  display: inline-block;
  margin-left: 12px; }
.social__item:first-child {
  margin-left: 0; }

.social__link {
  display: block; }

.social__link {
  overflow: hidden;
  color: transparent; }

.social__link_fb {
  background-image: url(../img/sprite/sprite.png);
  background-position: -219px -112px;
  width: 26px;
  height: 26px; }
.social__link_fb:hover {
  background-image: url(../img/sprite/sprite.png);
  background-position: -114px -146px;
  width: 26px;
  height: 26px; }

.social__link_vk {
  background-image: url(../img/sprite/sprite.png);
  background-position: -57px -146px;
  width: 27px;
  height: 26px; }
.social__link_vk:hover {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -146px;
  width: 27px;
  height: 26px; }

.social__link_twt {
  background-image: url(../img/sprite/sprite.png);
  background-position: -219px -56px;
  width: 26px;
  height: 26px; }
.social__link_twt:hover {
  background-image: url(../img/sprite/sprite.png);
  background-position: -219px 0px;
  width: 26px;
  height: 26px; }

.address {
  display: inline-block;
  margin-left: 545px;
  margin-top: 3px;
  position: relative; }

.address__icon {
  position: absolute;
  top: 3px;
  left: -20px;
  display: inline-block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -275px 0px;
  width: 12px;
  height: 16px; }

.contact {
  display: inline-block;
  float: right;
  font-family: 'OpenSans-Semibold';
  font-size: 18px;
  margin: -1px 3px 0 0;
  position: relative; }

.contact__icon {
  display: inline-block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -275px -46px;
  width: 12px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  top: 6px;
  left: -20px; }

.logo {
  float: left; }

.logo__header {
  font-size: 0; }

.logo, .search {
  display: inline-block; }

.search {
  margin-left: 55px; }

.search__input {
  border: 1px solid #dee1e4;
  border-radius: 3px 0 0 3px;
  height: 30px;
  width: 287px;
  color: #333333;
  padding-left: 17px; }
.search__input:focus {
  outline-color: #ff6600; }

::-webkit-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

::-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

:-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

:-ms-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

.search__submit {
  width: 80px;
  height: 33px;
  border-radius: 0 3px 3px 0;
  background: #ff6600;
  color: #ffffff;
  border: 1px solid #ff6600;
  margin-left: -22px;
  font-size: 16px; }
.search__submit:focus {
  outline-color: #ff6600;
  outline-color: #ffc299;
  text-shadow: 1px 0 1px #f4f4f4; }

.basket {
  display: inline-block;
  float: right;
  padding-top: 5px; }

.basket__item {
  display: inline-block;
  padding-left: 30px; }
.basket__item:first-child {
  padding-left: 0; }

.backet__link {
  font-family: 'OpenSans-Semibold';
  font-size: 16px;
  color: #333333;
  text-decoration: underline; }
.backet__link:hover {
  color: #ff6600; }

.nav__list {
  padding: 15px 4px; }

.nav__item {
  display: inline-block;
  font-size: 16px; }

.nav__link {
  color: #333333;
  text-decoration: none;
  padding: 15px 14px; }
.nav__link:hover {
  background: #e4e2e2; }
.nav__link_active {
  background: #ff6600; }

.breadcrumbs {
  background: #f4f4f4;
  padding-top: 30px; }

.breadcrumbs__item {
  display: inline-block; }

.breadcrumbs__link {
  text-decoration: none;
  color: #333333; }
.breadcrumbs__link_active {
  text-decoration: underline;
  color: #ff6600; }

.nav-name__title {
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  margin: 19px 0; }
