@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl.otf") format("opentype"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype"), url("../fonts/ALSRubl.svg#ALSRubl") format("svg");
  font-weight: normal;
  font-style: normal; }
.rub {
  font-family: 'ALSRubl';
  font-style: normal; }
.rub:after {
  content: 'a';
  font-style: inherit;
  font-size: inherit;
  line-height: inherit; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
body {
  font-family: 'OpenSans';
  font-size: 14px;
  color: #333333; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  background: #f4f4f4; }

.wrapper {
  width: 100%; }

.header {
  width: 100%;
  background: #ffffff; }

.header-contact {
  box-sizing: border-box;
  min-height: 77px;
  padding-top: 25px; }

.section-wrapper {
  width: 1100px;
  margin: auto; }
.section-wrapper:before, .section-wrapper:after {
  content: "";
  display: table; }
.section-wrapper:after {
  clear: both; }

.header-search {
  box-sizing: border-box;
  background: #f4f4f4;
  border-top: 2px solid #dee1e4;
  height: 96px;
  padding-top: 30px; }

.nav {
  background: #ffffff; }

.social {
  display: inline-block;
  float: left; }

.social__item {
  display: inline-block;
  margin-left: 12px; }
.social__item:first-child {
  margin-left: 0; }

.social__link {
  display: block; }

.social__link {
  overflow: hidden;
  color: transparent; }

.social__link_fb {
  background-image: url(../img/sprite/sprite.png);
  background-position: -56px -206px;
  width: 26px;
  height: 26px; }
.social__link_fb:hover {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -206px;
  width: 26px;
  height: 26px; }

.social__link_vk {
  background-image: url(../img/sprite/sprite.png);
  background-position: -219px 0px;
  width: 27px;
  height: 26px; }
.social__link_vk:hover {
  background-image: url(../img/sprite/sprite.png);
  background-position: -120px -146px;
  width: 27px;
  height: 26px; }

.social__link_twt {
  background-image: url(../img/sprite/sprite.png);
  background-position: -219px -112px;
  width: 26px;
  height: 26px; }
.social__link_twt:hover {
  background-image: url(../img/sprite/sprite.png);
  background-position: -219px -56px;
  width: 26px;
  height: 26px; }

.address {
  display: inline-block;
  margin-left: 545px;
  margin-top: 3px;
  position: relative; }

.address__icon {
  position: absolute;
  top: 3px;
  left: -20px;
  display: inline-block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -325px -46px;
  width: 12px;
  height: 16px; }

.contact {
  display: inline-block;
  float: right;
  font-family: 'OpenSans-Semibold';
  font-size: 18px;
  margin: -1px 3px 0 0;
  position: relative; }

.contact__icon {
  display: inline-block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -325px -92px;
  width: 12px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  top: 6px;
  left: -20px; }

.logo {
  float: left; }

.logo__header {
  font-size: 0; }

.logo, .search {
  display: inline-block; }

.search {
  margin-left: 55px; }

.search__input {
  border: 1px solid #dee1e4;
  border-radius: 3px 0 0 3px;
  height: 30px;
  width: 287px;
  color: #333333;
  padding-left: 17px; }
.search__input:focus {
  outline-color: #ff6600; }

::-webkit-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

::-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

:-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

:-ms-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans-Light'; }

.search__submit {
  width: 80px;
  height: 33px;
  border-radius: 0 3px 3px 0;
  background: #ff6600;
  color: #ffffff;
  border: 1px solid #ff6600;
  margin-left: -22px;
  font-size: 16px; }
.search__submit:focus {
  outline-color: #ff6600;
  outline-color: #ffc299;
  text-shadow: 1px 0 1px #f4f4f4; }

.basket {
  display: inline-block;
  float: right;
  padding-top: 5px; }

.basket__item {
  display: inline-block;
  padding-left: 30px; }
.basket__item:first-child {
  padding-left: 0; }

.backet__link {
  font-family: 'OpenSans-Semibold';
  font-size: 16px;
  color: #333333;
  text-decoration: underline; }
.backet__link:hover {
  color: #ff6600; }

.nav__list {
  text-align: justify;
  font-size: 0; }
.nav__list:after {
  content: '';
  height: 0;
  width: 100%;
  display: inline-block;
  visibility: hidden; }

.nav__item {
  display: inline-block; }

.nav__link {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  padding: 18px 16px; }
.nav__link:hover {
  background: #e4ebee; }
.nav__link_active {
  background: #ff6600; }

.breadcrumbs {
  background: #f4f4f4;
  padding-top: 30px; }

.breadcrumbs__item {
  display: inline-block; }

.breadcrumbs__link {
  text-decoration: none;
  color: #333333; }
.breadcrumbs__link_active {
  text-decoration: underline;
  color: #ff6600; }

.nav-name__title {
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  margin: 19px 0;
  padding-bottom: 10px; }

.aside {
  float: left;
  width: 333px; }

.category {
  margin-bottom: 38px; }

.category__list, .accordion__list {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #dee1e4;
  background: #fbfbfb; }

.category__item {
  border-top: none;
  border-top: 1px solid #dee1e4; }
.category__item:first-child {
  border-top: none; }

.category__link {
  text-decoration: none;
  color: #7f7f7f;
  display: block;
  padding: 12px 13px 13px 27px; }
.category__link_active {
  background: #d9e5ea; }

.accordion__item {
  border-top: 1px solid #dee1e4; }
.accordion__item:first-child {
  border-top: none; }

.accordion__trigger {
  position: relative;
  display: block;
  font-family: 'OpenSans-Semibold';
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  padding: 12px 13px 13px 27px; }

.accordion__up {
  position: absolute;
  display: none;
  top: 19px;
  right: 12px;
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -308px;
  width: 18px;
  height: 11px; }

.accordion__inner {
  padding: 0 12px 0 27px; }

.accordion__inner-item {
  padding-bottom: 19px;
  position: relative; }

.radio__input {
  display: none; }
.radio__input:focus {
  outline: none; }

.radio__label {
  margin-left: 30px; }
.radio__label:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../img/sprite/sprite.png);
  background-position: -276px -196px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  top: 0;
  left: 0; }
.radio__label:hover:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../img/sprite/sprite.png);
  background-position: -276px 0px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  top: 0;
  left: 0; }

.radio__input:checked + .radio__label:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -276px -147px;
  width: 19px;
  height: 19px; }

.checkbox__input {
  display: none; }
.checkbox__input:focus {
  outline: none; }

.checkbox__label {
  margin-left: 30px;
  text-transform: capitalize; }
.checkbox__label:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../img/sprite/sprite.png);
  background-position: -276px -49px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  top: 0;
  left: 0; }
.checkbox__label:hover:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../img/sprite/sprite.png);
  background-position: -276px -98px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  top: 0;
  left: 0; }
.checkbox__label[for="iOs"] {
  text-transform: none; }

.checkbox__input:checked + .checkbox__label:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -222px -206px;
  width: 19px;
  height: 19px; }

.reset-checkbox {
  padding: 0 0 0 27px;
  color: #5db2fc; }

.accordion__inner-reset {
  margin: -7px 0 18px 0; }

.price__text {
  padding-right: 13px; }

.price__input {
  width: 71px;
  height: 25px;
  font-family: "OpenSans-Semibold";
  margin-right: 47px;
  padding-left: 8px;
  border: 1px solid #dee1e4;
  border-radius: 3px;
  border-top: 2px solid #dee1e4; }
.price__input:last-child {
  margin-right: 0; }
.price__input:focus {
  outline-color: #ff6600; }

.color__list {
  margin: -9px 0 0 -9px;
  width: 250px; }

.color__item {
  display: inline-block;
  width: 38px;
  height: 38px;
  vertical-align: top;
  margin: 9px 9px 12px 9px;
  overflow: hidden; }

.color__link, .goods__slideshow-link {
  box-sizing: border-box;
  display: block;
  border: 1px solid #dee1e4;
  width: 38px;
  height: 38px;
  color: transparent; }
.color__link:hover, .goods__slideshow-link:hover {
  border-radius: 3px;
  border: 2px solid #ff6600; }

.color__link_white {
  background: #ffffff; }
.color__link_grey {
  background: #cccccc; }
.color__link_black {
  background: #000000; }
.color__link_darkblue {
  background: #0a3153; }
.color__link_red {
  background: #ff1800; }
.color__link_yellow {
  background: #fff343; }
.color__link_orange {
  background: #fb914a; }
.color__link_green {
  background: #92c37c; }
.color__link_blue {
  background: #40a6ff; }
.color__link_purple {
  background: #9870ad; }
.color__link_pink {
  background: #dc78ad; }
.color__link_brown {
  background: #7f401d; }

.content {
  box-sizing: border-box;
  float: right;
  width: 743px; }

.view-catalog {
  box-sizing: border-box;
  background: #d9e5ea;
  border-radius: 5px;
  min-height: 53px;
  position: relative;
  margin-bottom: 18px; }
.view-catalog:before, .view-catalog:after {
  content: "";
  display: table; }
.view-catalog:after {
  clear: both; }

.select__wrapper {
  box-sizing: border-box;
  display: inline-block;
  position: relative; }

.sorting {
  box-sizing: border-box;
  padding-top: 9px;
  margin: 0 22px;
  float: left; }

.sorting__select {
  box-sizing: border-box;
  color: #7f7f7f;
  font-family: 'OpenSans-Light';
  border-radius: 3px;
  border: 1px solid #dee1e4;
  border-top: 2px solid #dee1e4;
  height: 30px;
  width: 143px;
  margin-left: 5px;
  padding-left: 9px; }
.sorting__select:focus {
  outline-color: #ff6600; }

.sorting__title, .view-catalog__title {
  color: #5d656c; }

.view-catalog__icon {
  float: right;
  display: block;
  width: 262px; }

.view-catalog__title {
  display: inline-block;
  line-height: 53px; }

.view-catalog__wrapper {
  float: right; }

.view-catalog__item {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid #dee1e4;
  padding: 18px 16px;
  margin-bottom: -3px; }

.view-catalog__link {
  display: block;
  color: transparent;
  font-size: 0;
  box-sizing: content-box; }
.view-catalog__link_table:after {
  content: "";
  display: block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -230px -262px;
  width: 16px;
  height: 16px;
  margin: 0; }
.view-catalog__link_thumbnail:after {
  content: "";
  display: block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -325px 0px;
  width: 16px;
  height: 16px;
  margin: 0; }
.view-catalog__link_list:after {
  content: "";
  display: block;
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -262px;
  width: 16px;
  height: 16px;
  margin: 0; }
.view-catalog__link_table:hover:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -184px -262px;
  width: 16px;
  height: 16px; }
.view-catalog__link_thumbnail:hover:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -276px -262px;
  width: 16px;
  height: 16px; }
.view-catalog__link_list:hover:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -92px -262px;
  width: 16px;
  height: 16px; }

.goods__list {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff; }

.goods__item {
  border-top: 1px solid #dee1e4; }
.goods__item:first-child {
  border-top: none; }

.goods__item-inner {
  padding: 19px 22px 15px 22px;
  position: relative; }
.goods__item-inner:before, .goods__item-inner:after {
  content: "";
  display: table; }
.goods__item-inner:after {
  clear: both; }

.goods__left {
  float: left; }

.goods__slideshow {
  width: 140px;
  float: left; }

.goods__slideshow-block {
  margin-bottom: 14px; }

.goods__slideshow-display {
  width: 134px;
  height: 134px;
  border: 1px solid #dee1e4;
  background: #ffffff;
  position: relative;
  display: block;
  margin-bottom: 14px;
  border-radius: 3px; }

.goods__slideshow-img {
  display: block;
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.goods__slideshow-thumbs {
  margin-left: -15px; }
.goods__slideshow-thumbs:before, .goods__slideshow-thumbs:after {
  content: "";
  display: table; }
.goods__slideshow-thumbs:after {
  clear: both; }

.goods__slideshow-item {
  margin-left: 15px;
  float: left; }

.goods__slideshow-link {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  margin-bottom: 0;
  position: relative; }

.goods__slideshow-thumb-img {
  display: block;
  max-width: 85%;
  max-height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.goods__article {
  margin: -7px 0 0 12px; }

.goods__article-word {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 17px;
  color: #7f7f7f;
  font-family: 'OpenSans-Bold'; }

.goods__article-art {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-family: 'OpenSans-Semibold'; }

.goods__desc {
  float: left;
  width: 380px;
  margin-left: 21px; }

.goods__desc-title {
  font-size: 16px;
  line-height: 18px;
  font-family: 'OpenSans-Semibold';
  color: #000000;
  margin-bottom: 20px;
  padding-top: 7px; }

.goods__desc-options {
  margin-bottom: 14px; }

.goods__option-key {
  display: inline;
  font-size: 14px;
  line-height: 16px; }

.goods__option-value {
  display: inline;
  font-size: 14px;
  line-height: 16px; }

.goods__rating-stars {
  display: inline-block;
  vertical-align: middle; }

.goods__rating-stars-item {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite/sprite.png);
  background-position: -46px -262px;
  width: 16px;
  height: 16px; }

.goods__rating-stars-item_full {
  background-image: url(../img/sprite/sprite.png);
  background-position: -138px -262px;
  width: 16px;
  height: 16px; }

.goods__rating-amount {
  display: inline-block;
  vertical-align: middle;
  color: #fbfbfb;
  font-size: 12px;
  line-height: 15px;
  width: 27px;
  background: #b5beca;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 7px;
  text-align: center;
  font-family: "OpenSans-Semibold"; }

.goods__right {
  position: absolute;
  top: 18px;
  right: 26px;
  bottom: 20px;
  width: 129px;
  text-align: right; }

.goods__info {
  padding-left: 25px;
  border-left: 1px solid #dee1e4;
  height: 100%; }

.goods__price {
  color: #333333;
  font-size: 20px;
  line-height: 24px; }

.goods__info-bottom {
  position: absolute;
  bottom: 0;
  right: 0; }

.goods__buy-btn {
  background: #ff6600;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 7px 14px;
  font-family: 'OpenSans-Bold';
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 5px; }

.goods__availability {
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  line-height: 14px;
  color: #7f7f7f; }
.goods__availability:before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #60ac49;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px; }

.goods__list {
  margin-bottom: 65px; }

.pagination {
  text-align: right; }

.pagination__list {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  overflow: hidden; }

.pagination__item {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid #dee1e4;
  position: relative;
  overflow: hidden; }

.pagination__item__prev .pagination__mark {
  background-image: url(../img/sprite/sprite.png);
  background-position: -112px -206px;
  width: 25px;
  height: 25px; }

.pagination__item__next .pagination__mark {
  background-image: url(../img/sprite/sprite.png);
  background-position: -167px -206px;
  width: 25px;
  height: 25px; }

.pagination__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: #ffffff; }
.pagination__link:hover {
  background: #e0e0e0; }

.pagination__mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 26px;
  text-align: center;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  color: #7f7f7f; }
