doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title COOLTECH
		// bower:css
		link(href="css/main.css" rel="stylesheet")
		// endbower
	body
		div.wrapper
			header.header
			nav.nav
			div.breadcrumbs
			h2.nav-name
			aside.aside
			div.content
				div.view-catalog
				main.catalog
					


		footer.footer

		// bower:js
		// endbower
	