doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=1150, initial-scale=1")
		title COOLTECH
		// bower:css
		// endbower
		link(href="css/main.css" rel="stylesheet")

	body
		div.wrapper
			header.header
				div.header-wrapper
					div.social
						-var socials = [{soc:'fb', url:'https://www.facebook.com/', text:'facebook'},{soc:'vk', url:'http://vk.com/', text:'vkontakte'},{soc:'twt', url:'https://twitter.com/', text:'twitter'}];
						ul.social__list
							each item in socials
								li.social__item
									a(href="#{item.url}" class="social__link_#{item.soc}").social__link
										|#{item.text}
					div.address
						i.address__icon
						span.address__name.
							ул. Маяковская 6, офис 17
					div.contact
						i.contact__icon
						span.contact__phone.
							+7 (921) 123-12-13
			nav.nav
			div.breadcrumbs
			h2.nav-name
			aside.aside
			div.content
				div.view-catalog
				main.catalog
					


		footer.footer
			


		// bower:js
		// endbower
	