doctype html
html(lang="ru-Ru")
	include _content/_head
	body
		div.wrapper
			header.header
				include _content/_header
				include _content/_header-search
			nav.nav
				include _content/_nav

			div.breadcrumbs
				include _content/_breadcrumbs
				
			div.nav-name
				include _content/_nav-name
						
			div.section-wrapper
				include _content/_aside
							

				div.content
					

					include _content/_catalog
						include _content/_pagination
						
			div.note
				include _content/_note
			


		footer.footer
			include _content/_footer


		// bower:js
		// endbower

		script(src="js/main.js")
	