@import "compass";
@import "plagins/_jquery-ui";
@import "plagins/_select2";
@import "layouts/_mixins";
@import "layouts/_fonts";

@import "../img/sprite/_sprite";

@import "layouts/_variables";
@import "layouts/_layouts";

@import "widgets/_slider";
@import "widgets/_select";
@import "content/_header";
@import "content/_nav";
@import "content/_breadcrumbs";
@import "content/_nav-name";
@import "content/_aside"; 
@import "content/_content"; 
@import "content/_catalog"; 
@import "content/_pagination";
@import "content/_note";
@import "content/_footer";

.accordion__inner{
	display: none;
}