/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-name: 'arrow-down';
$arrow-down-x: 0px;
$arrow-down-y: 146px;
$arrow-down-offset-x: 0px;
$arrow-down-offset-y: -146px;
$arrow-down-width: 30px;
$arrow-down-height: 30px;
$arrow-down-total-width: 341px;
$arrow-down-total-height: 319px;
$arrow-down-image: 'sprite.png';
$arrow-down: (0px, 146px, 0px, -146px, 30px, 30px, 341px, 319px, 'sprite.png', 'arrow-down', );
$arrow-up-select-name: 'arrow-up-select';
$arrow-up-select-x: 60px;
$arrow-up-select-y: 146px;
$arrow-up-select-offset-x: -60px;
$arrow-up-select-offset-y: -146px;
$arrow-up-select-width: 30px;
$arrow-up-select-height: 30px;
$arrow-up-select-total-width: 341px;
$arrow-up-select-total-height: 319px;
$arrow-up-select-image: 'sprite.png';
$arrow-up-select: (60px, 146px, -60px, -146px, 30px, 30px, 341px, 319px, 'sprite.png', 'arrow-up-select', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 0px;
$arrow-up-y: 308px;
$arrow-up-offset-x: 0px;
$arrow-up-offset-y: -308px;
$arrow-up-width: 18px;
$arrow-up-height: 11px;
$arrow-up-total-width: 341px;
$arrow-up-total-height: 319px;
$arrow-up-image: 'sprite.png';
$arrow-up: (0px, 308px, 0px, -308px, 18px, 11px, 341px, 319px, 'sprite.png', 'arrow-up', );
$checkbox-active-name: 'checkbox-active';
$checkbox-active-x: 222px;
$checkbox-active-y: 206px;
$checkbox-active-offset-x: -222px;
$checkbox-active-offset-y: -206px;
$checkbox-active-width: 19px;
$checkbox-active-height: 19px;
$checkbox-active-total-width: 341px;
$checkbox-active-total-height: 319px;
$checkbox-active-image: 'sprite.png';
$checkbox-active: (222px, 206px, -222px, -206px, 19px, 19px, 341px, 319px, 'sprite.png', 'checkbox-active', );
$checkbox-hover-name: 'checkbox-hover';
$checkbox-hover-x: 276px;
$checkbox-hover-y: 49px;
$checkbox-hover-offset-x: -276px;
$checkbox-hover-offset-y: -49px;
$checkbox-hover-width: 19px;
$checkbox-hover-height: 19px;
$checkbox-hover-total-width: 341px;
$checkbox-hover-total-height: 319px;
$checkbox-hover-image: 'sprite.png';
$checkbox-hover: (276px, 49px, -276px, -49px, 19px, 19px, 341px, 319px, 'sprite.png', 'checkbox-hover', );
$checkbox-name: 'checkbox';
$checkbox-x: 276px;
$checkbox-y: 0px;
$checkbox-offset-x: -276px;
$checkbox-offset-y: 0px;
$checkbox-width: 19px;
$checkbox-height: 19px;
$checkbox-total-width: 341px;
$checkbox-total-height: 319px;
$checkbox-image: 'sprite.png';
$checkbox: (276px, 0px, -276px, 0px, 19px, 19px, 341px, 319px, 'sprite.png', 'checkbox', );
$fb-footer-hover-name: 'fb-footer-hover';
$fb-footer-hover-x: 73px;
$fb-footer-hover-y: 73px;
$fb-footer-hover-offset-x: -73px;
$fb-footer-hover-offset-y: -73px;
$fb-footer-hover-width: 43px;
$fb-footer-hover-height: 43px;
$fb-footer-hover-total-width: 341px;
$fb-footer-hover-total-height: 319px;
$fb-footer-hover-image: 'sprite.png';
$fb-footer-hover: (73px, 73px, -73px, -73px, 43px, 43px, 341px, 319px, 'sprite.png', 'fb-footer-hover', );
$fb-footer-name: 'fb-footer';
$fb-footer-x: 146px;
$fb-footer-y: 0px;
$fb-footer-offset-x: -146px;
$fb-footer-offset-y: 0px;
$fb-footer-width: 43px;
$fb-footer-height: 43px;
$fb-footer-total-width: 341px;
$fb-footer-total-height: 319px;
$fb-footer-image: 'sprite.png';
$fb-footer: (146px, 0px, -146px, 0px, 43px, 43px, 341px, 319px, 'sprite.png', 'fb-footer', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 56px;
$fb-hover-y: 206px;
$fb-hover-offset-x: -56px;
$fb-hover-offset-y: -206px;
$fb-hover-width: 26px;
$fb-hover-height: 26px;
$fb-hover-total-width: 341px;
$fb-hover-total-height: 319px;
$fb-hover-image: 'sprite.png';
$fb-hover: (56px, 206px, -56px, -206px, 26px, 26px, 341px, 319px, 'sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 219px;
$fb-y: 56px;
$fb-offset-x: -219px;
$fb-offset-y: -56px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 341px;
$fb-total-height: 319px;
$fb-image: 'sprite.png';
$fb: (219px, 56px, -219px, -56px, 26px, 26px, 341px, 319px, 'sprite.png', 'fb', );
$next-name: 'next';
$next-x: 112px;
$next-y: 206px;
$next-offset-x: -112px;
$next-offset-y: -206px;
$next-width: 25px;
$next-height: 25px;
$next-total-width: 341px;
$next-total-height: 319px;
$next-image: 'sprite.png';
$next: (112px, 206px, -112px, -206px, 25px, 25px, 341px, 319px, 'sprite.png', 'next', );
$pin-name: 'pin';
$pin-x: 325px;
$pin-y: 46px;
$pin-offset-x: -325px;
$pin-offset-y: -46px;
$pin-width: 12px;
$pin-height: 16px;
$pin-total-width: 341px;
$pin-total-height: 319px;
$pin-image: 'sprite.png';
$pin: (325px, 46px, -325px, -46px, 12px, 16px, 341px, 319px, 'sprite.png', 'pin', );
$prev-name: 'prev';
$prev-x: 167px;
$prev-y: 206px;
$prev-offset-x: -167px;
$prev-offset-y: -206px;
$prev-width: 25px;
$prev-height: 25px;
$prev-total-width: 341px;
$prev-total-height: 319px;
$prev-image: 'sprite.png';
$prev: (167px, 206px, -167px, -206px, 25px, 25px, 341px, 319px, 'sprite.png', 'prev', );
$radio-active-name: 'radio-active';
$radio-active-x: 276px;
$radio-active-y: 98px;
$radio-active-offset-x: -276px;
$radio-active-offset-y: -98px;
$radio-active-width: 19px;
$radio-active-height: 19px;
$radio-active-total-width: 341px;
$radio-active-total-height: 319px;
$radio-active-image: 'sprite.png';
$radio-active: (276px, 98px, -276px, -98px, 19px, 19px, 341px, 319px, 'sprite.png', 'radio-active', );
$radio-hover-name: 'radio-hover';
$radio-hover-x: 276px;
$radio-hover-y: 147px;
$radio-hover-offset-x: -276px;
$radio-hover-offset-y: -147px;
$radio-hover-width: 19px;
$radio-hover-height: 19px;
$radio-hover-total-width: 341px;
$radio-hover-total-height: 319px;
$radio-hover-image: 'sprite.png';
$radio-hover: (276px, 147px, -276px, -147px, 19px, 19px, 341px, 319px, 'sprite.png', 'radio-hover', );
$radio-name: 'radio';
$radio-x: 276px;
$radio-y: 196px;
$radio-offset-x: -276px;
$radio-offset-y: -196px;
$radio-width: 19px;
$radio-height: 19px;
$radio-total-width: 341px;
$radio-total-height: 319px;
$radio-image: 'sprite.png';
$radio: (276px, 196px, -276px, -196px, 19px, 19px, 341px, 319px, 'sprite.png', 'radio', );
$range-name: 'range';
$range-x: 325px;
$range-y: 182px;
$range-offset-x: -325px;
$range-offset-y: -182px;
$range-width: 8px;
$range-height: 14px;
$range-total-width: 341px;
$range-total-height: 319px;
$range-image: 'sprite.png';
$range: (325px, 182px, -325px, -182px, 8px, 14px, 341px, 319px, 'sprite.png', 'range', );
$rub-name: 'rub';
$rub-x: 325px;
$rub-y: 138px;
$rub-offset-x: -325px;
$rub-offset-y: -138px;
$rub-width: 12px;
$rub-height: 14px;
$rub-total-width: 341px;
$rub-total-height: 319px;
$rub-image: 'sprite.png';
$rub: (325px, 138px, -325px, -138px, 12px, 14px, 341px, 319px, 'sprite.png', 'rub', );
$star-circuit-name: 'star-circuit';
$star-circuit-x: 325px;
$star-circuit-y: 0px;
$star-circuit-offset-x: -325px;
$star-circuit-offset-y: 0px;
$star-circuit-width: 16px;
$star-circuit-height: 16px;
$star-circuit-total-width: 341px;
$star-circuit-total-height: 319px;
$star-circuit-image: 'sprite.png';
$star-circuit: (325px, 0px, -325px, 0px, 16px, 16px, 341px, 319px, 'sprite.png', 'star-circuit', );
$star-full-name: 'star-full';
$star-full-x: 46px;
$star-full-y: 262px;
$star-full-offset-x: -46px;
$star-full-offset-y: -262px;
$star-full-width: 16px;
$star-full-height: 16px;
$star-full-total-width: 341px;
$star-full-total-height: 319px;
$star-full-image: 'sprite.png';
$star-full: (46px, 262px, -46px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'star-full', );
$telephone-name: 'telephone';
$telephone-x: 325px;
$telephone-y: 92px;
$telephone-offset-x: -325px;
$telephone-offset-y: -92px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 341px;
$telephone-total-height: 319px;
$telephone-image: 'sprite.png';
$telephone: (325px, 92px, -325px, -92px, 12px, 16px, 341px, 319px, 'sprite.png', 'telephone', );
$twt-footer-hover-name: 'twt-footer-hover';
$twt-footer-hover-x: 146px;
$twt-footer-hover-y: 73px;
$twt-footer-hover-offset-x: -146px;
$twt-footer-hover-offset-y: -73px;
$twt-footer-hover-width: 43px;
$twt-footer-hover-height: 43px;
$twt-footer-hover-total-width: 341px;
$twt-footer-hover-total-height: 319px;
$twt-footer-hover-image: 'sprite.png';
$twt-footer-hover: (146px, 73px, -146px, -73px, 43px, 43px, 341px, 319px, 'sprite.png', 'twt-footer-hover', );
$twt-footer-name: 'twt-footer';
$twt-footer-x: 0px;
$twt-footer-y: 73px;
$twt-footer-offset-x: 0px;
$twt-footer-offset-y: -73px;
$twt-footer-width: 43px;
$twt-footer-height: 43px;
$twt-footer-total-width: 341px;
$twt-footer-total-height: 319px;
$twt-footer-image: 'sprite.png';
$twt-footer: (0px, 73px, 0px, -73px, 43px, 43px, 341px, 319px, 'sprite.png', 'twt-footer', );
$twt-hover-name: 'twt-hover';
$twt-hover-x: 0px;
$twt-hover-y: 206px;
$twt-hover-offset-x: 0px;
$twt-hover-offset-y: -206px;
$twt-hover-width: 26px;
$twt-hover-height: 26px;
$twt-hover-total-width: 341px;
$twt-hover-total-height: 319px;
$twt-hover-image: 'sprite.png';
$twt-hover: (0px, 206px, 0px, -206px, 26px, 26px, 341px, 319px, 'sprite.png', 'twt-hover', );
$twt-name: 'twt';
$twt-x: 219px;
$twt-y: 112px;
$twt-offset-x: -219px;
$twt-offset-y: -112px;
$twt-width: 26px;
$twt-height: 26px;
$twt-total-width: 341px;
$twt-total-height: 319px;
$twt-image: 'sprite.png';
$twt: (219px, 112px, -219px, -112px, 26px, 26px, 341px, 319px, 'sprite.png', 'twt', );
$view-list-active-name: 'view-list-active';
$view-list-active-x: 92px;
$view-list-active-y: 262px;
$view-list-active-offset-x: -92px;
$view-list-active-offset-y: -262px;
$view-list-active-width: 16px;
$view-list-active-height: 16px;
$view-list-active-total-width: 341px;
$view-list-active-total-height: 319px;
$view-list-active-image: 'sprite.png';
$view-list-active: (92px, 262px, -92px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'view-list-active', );
$view-list-name: 'view-list';
$view-list-x: 138px;
$view-list-y: 262px;
$view-list-offset-x: -138px;
$view-list-offset-y: -262px;
$view-list-width: 16px;
$view-list-height: 16px;
$view-list-total-width: 341px;
$view-list-total-height: 319px;
$view-list-image: 'sprite.png';
$view-list: (138px, 262px, -138px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'view-list', );
$view-table-active-name: 'view-table-active';
$view-table-active-x: 184px;
$view-table-active-y: 262px;
$view-table-active-offset-x: -184px;
$view-table-active-offset-y: -262px;
$view-table-active-width: 16px;
$view-table-active-height: 16px;
$view-table-active-total-width: 341px;
$view-table-active-total-height: 319px;
$view-table-active-image: 'sprite.png';
$view-table-active: (184px, 262px, -184px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'view-table-active', );
$view-table-name: 'view-table';
$view-table-x: 0px;
$view-table-y: 262px;
$view-table-offset-x: 0px;
$view-table-offset-y: -262px;
$view-table-width: 16px;
$view-table-height: 16px;
$view-table-total-width: 341px;
$view-table-total-height: 319px;
$view-table-image: 'sprite.png';
$view-table: (0px, 262px, 0px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'view-table', );
$view-thumbnail-active-name: 'view-thumbnail-active';
$view-thumbnail-active-x: 230px;
$view-thumbnail-active-y: 262px;
$view-thumbnail-active-offset-x: -230px;
$view-thumbnail-active-offset-y: -262px;
$view-thumbnail-active-width: 16px;
$view-thumbnail-active-height: 16px;
$view-thumbnail-active-total-width: 341px;
$view-thumbnail-active-total-height: 319px;
$view-thumbnail-active-image: 'sprite.png';
$view-thumbnail-active: (230px, 262px, -230px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'view-thumbnail-active', );
$view-thumbnail-name: 'view-thumbnail';
$view-thumbnail-x: 276px;
$view-thumbnail-y: 262px;
$view-thumbnail-offset-x: -276px;
$view-thumbnail-offset-y: -262px;
$view-thumbnail-width: 16px;
$view-thumbnail-height: 16px;
$view-thumbnail-total-width: 341px;
$view-thumbnail-total-height: 319px;
$view-thumbnail-image: 'sprite.png';
$view-thumbnail: (276px, 262px, -276px, -262px, 16px, 16px, 341px, 319px, 'sprite.png', 'view-thumbnail', );
$vk-footer-hover-name: 'vk-footer-hover';
$vk-footer-hover-x: 73px;
$vk-footer-hover-y: 0px;
$vk-footer-hover-offset-x: -73px;
$vk-footer-hover-offset-y: 0px;
$vk-footer-hover-width: 43px;
$vk-footer-hover-height: 43px;
$vk-footer-hover-total-width: 341px;
$vk-footer-hover-total-height: 319px;
$vk-footer-hover-image: 'sprite.png';
$vk-footer-hover: (73px, 0px, -73px, 0px, 43px, 43px, 341px, 319px, 'sprite.png', 'vk-footer-hover', );
$vk-footer-name: 'vk-footer';
$vk-footer-x: 0px;
$vk-footer-y: 0px;
$vk-footer-offset-x: 0px;
$vk-footer-offset-y: 0px;
$vk-footer-width: 43px;
$vk-footer-height: 43px;
$vk-footer-total-width: 341px;
$vk-footer-total-height: 319px;
$vk-footer-image: 'sprite.png';
$vk-footer: (0px, 0px, 0px, 0px, 43px, 43px, 341px, 319px, 'sprite.png', 'vk-footer', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 120px;
$vk-hover-y: 146px;
$vk-hover-offset-x: -120px;
$vk-hover-offset-y: -146px;
$vk-hover-width: 27px;
$vk-hover-height: 26px;
$vk-hover-total-width: 341px;
$vk-hover-total-height: 319px;
$vk-hover-image: 'sprite.png';
$vk-hover: (120px, 146px, -120px, -146px, 27px, 26px, 341px, 319px, 'sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 219px;
$vk-y: 0px;
$vk-offset-x: -219px;
$vk-offset-y: 0px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 341px;
$vk-total-height: 319px;
$vk-image: 'sprite.png';
$vk: (219px, 0px, -219px, 0px, 27px, 26px, 341px, 319px, 'sprite.png', 'vk', );
$spritesheet-width: 341px;
$spritesheet-height: 319px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-up-select, $arrow-up, $checkbox-active, $checkbox-hover, $checkbox, $fb-footer-hover, $fb-footer, $fb-hover, $fb, $next, $pin, $prev, $radio-active, $radio-hover, $radio, $range, $rub, $star-circuit, $star-full, $telephone, $twt-footer-hover, $twt-footer, $twt-hover, $twt, $view-list-active, $view-list, $view-table-active, $view-table, $view-thumbnail-active, $view-thumbnail, $vk-footer-hover, $vk-footer, $vk-hover, $vk, );
$spritesheet: (341px, 319px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/sprite/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
