/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-name: 'arrow-down';
$arrow-down-x: 140px;
$arrow-down-y: 252px;
$arrow-down-offset-x: -140px;
$arrow-down-offset-y: -252px;
$arrow-down-width: 13px;
$arrow-down-height: 9px;
$arrow-down-total-width: 333px;
$arrow-down-total-height: 268px;
$arrow-down-image: 'sprite.png';
$arrow-down: (140px, 252px, -140px, -252px, 13px, 9px, 333px, 268px, 'sprite.png', 'arrow-down', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 92px;
$arrow-up-y: 252px;
$arrow-up-offset-x: -92px;
$arrow-up-offset-y: -252px;
$arrow-up-width: 18px;
$arrow-up-height: 11px;
$arrow-up-total-width: 333px;
$arrow-up-total-height: 268px;
$arrow-up-image: 'sprite.png';
$arrow-up: (92px, 252px, -92px, -252px, 18px, 11px, 333px, 268px, 'sprite.png', 'arrow-up', );
$checkbox-active-name: 'checkbox-active';
$checkbox-active-x: 170px;
$checkbox-active-y: 146px;
$checkbox-active-offset-x: -170px;
$checkbox-active-offset-y: -146px;
$checkbox-active-width: 19px;
$checkbox-active-height: 19px;
$checkbox-active-total-width: 333px;
$checkbox-active-total-height: 268px;
$checkbox-active-image: 'sprite.png';
$checkbox-active: (170px, 146px, -170px, -146px, 19px, 19px, 333px, 268px, 'sprite.png', 'checkbox-active', );
$checkbox-hover-name: 'checkbox-hover';
$checkbox-hover-x: 149px;
$checkbox-hover-y: 202px;
$checkbox-hover-offset-x: -149px;
$checkbox-hover-offset-y: -202px;
$checkbox-hover-width: 19px;
$checkbox-hover-height: 19px;
$checkbox-hover-total-width: 333px;
$checkbox-hover-total-height: 268px;
$checkbox-hover-image: 'sprite.png';
$checkbox-hover: (149px, 202px, -149px, -202px, 19px, 19px, 333px, 268px, 'sprite.png', 'checkbox-hover', );
$checkbox-name: 'checkbox';
$checkbox-x: 198px;
$checkbox-y: 202px;
$checkbox-offset-x: -198px;
$checkbox-offset-y: -202px;
$checkbox-width: 19px;
$checkbox-height: 19px;
$checkbox-total-width: 333px;
$checkbox-total-height: 268px;
$checkbox-image: 'sprite.png';
$checkbox: (198px, 202px, -198px, -202px, 19px, 19px, 333px, 268px, 'sprite.png', 'checkbox', );
$fb-footer-hover-name: 'fb-footer-hover';
$fb-footer-hover-x: 73px;
$fb-footer-hover-y: 73px;
$fb-footer-hover-offset-x: -73px;
$fb-footer-hover-offset-y: -73px;
$fb-footer-hover-width: 43px;
$fb-footer-hover-height: 43px;
$fb-footer-hover-total-width: 333px;
$fb-footer-hover-total-height: 268px;
$fb-footer-hover-image: 'sprite.png';
$fb-footer-hover: (73px, 73px, -73px, -73px, 43px, 43px, 333px, 268px, 'sprite.png', 'fb-footer-hover', );
$fb-footer-name: 'fb-footer';
$fb-footer-x: 146px;
$fb-footer-y: 0px;
$fb-footer-offset-x: -146px;
$fb-footer-offset-y: 0px;
$fb-footer-width: 43px;
$fb-footer-height: 43px;
$fb-footer-total-width: 333px;
$fb-footer-total-height: 268px;
$fb-footer-image: 'sprite.png';
$fb-footer: (146px, 0px, -146px, 0px, 43px, 43px, 333px, 268px, 'sprite.png', 'fb-footer', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 219px;
$fb-hover-y: 56px;
$fb-hover-offset-x: -219px;
$fb-hover-offset-y: -56px;
$fb-hover-width: 26px;
$fb-hover-height: 26px;
$fb-hover-total-width: 333px;
$fb-hover-total-height: 268px;
$fb-hover-image: 'sprite.png';
$fb-hover: (219px, 56px, -219px, -56px, 26px, 26px, 333px, 268px, 'sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 114px;
$fb-y: 146px;
$fb-offset-x: -114px;
$fb-offset-y: -146px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 333px;
$fb-total-height: 268px;
$fb-image: 'sprite.png';
$fb: (114px, 146px, -114px, -146px, 26px, 26px, 333px, 268px, 'sprite.png', 'fb', );
$pin-name: 'pin';
$pin-x: 321px;
$pin-y: 46px;
$pin-offset-x: -321px;
$pin-offset-y: -46px;
$pin-width: 12px;
$pin-height: 16px;
$pin-total-width: 333px;
$pin-total-height: 268px;
$pin-image: 'sprite.png';
$pin: (321px, 46px, -321px, -46px, 12px, 16px, 333px, 268px, 'sprite.png', 'pin', );
$radio-active-name: 'radio-active';
$radio-active-x: 100px;
$radio-active-y: 202px;
$radio-active-offset-x: -100px;
$radio-active-offset-y: -202px;
$radio-active-width: 19px;
$radio-active-height: 19px;
$radio-active-total-width: 333px;
$radio-active-total-height: 268px;
$radio-active-image: 'sprite.png';
$radio-active: (100px, 202px, -100px, -202px, 19px, 19px, 333px, 268px, 'sprite.png', 'radio-active', );
$radio-name: 'radio';
$radio-x: 51px;
$radio-y: 202px;
$radio-offset-x: -51px;
$radio-offset-y: -202px;
$radio-width: 19px;
$radio-height: 19px;
$radio-total-width: 333px;
$radio-total-height: 268px;
$radio-image: 'sprite.png';
$radio: (51px, 202px, -51px, -202px, 19px, 19px, 333px, 268px, 'sprite.png', 'radio', );
$star-circuit-name: 'star-circuit';
$star-circuit-x: 0px;
$star-circuit-y: 202px;
$star-circuit-offset-x: 0px;
$star-circuit-offset-y: -202px;
$star-circuit-width: 21px;
$star-circuit-height: 20px;
$star-circuit-total-width: 333px;
$star-circuit-total-height: 268px;
$star-circuit-image: 'sprite.png';
$star-circuit: (0px, 202px, 0px, -202px, 21px, 20px, 333px, 268px, 'sprite.png', 'star-circuit', );
$star-full-name: 'star-full';
$star-full-x: 46px;
$star-full-y: 252px;
$star-full-offset-x: -46px;
$star-full-offset-y: -252px;
$star-full-width: 16px;
$star-full-height: 15px;
$star-full-total-width: 333px;
$star-full-total-height: 268px;
$star-full-image: 'sprite.png';
$star-full: (46px, 252px, -46px, -252px, 16px, 15px, 333px, 268px, 'sprite.png', 'star-full', );
$telephone-name: 'telephone';
$telephone-x: 321px;
$telephone-y: 0px;
$telephone-offset-x: -321px;
$telephone-offset-y: 0px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 333px;
$telephone-total-height: 268px;
$telephone-image: 'sprite.png';
$telephone: (321px, 0px, -321px, 0px, 12px, 16px, 333px, 268px, 'sprite.png', 'telephone', );
$twt-footer-hover-name: 'twt-footer-hover';
$twt-footer-hover-x: 0px;
$twt-footer-hover-y: 0px;
$twt-footer-hover-offset-x: 0px;
$twt-footer-hover-offset-y: 0px;
$twt-footer-hover-width: 43px;
$twt-footer-hover-height: 43px;
$twt-footer-hover-total-width: 333px;
$twt-footer-hover-total-height: 268px;
$twt-footer-hover-image: 'sprite.png';
$twt-footer-hover: (0px, 0px, 0px, 0px, 43px, 43px, 333px, 268px, 'sprite.png', 'twt-footer-hover', );
$twt-footer-name: 'twt-footer';
$twt-footer-x: 146px;
$twt-footer-y: 73px;
$twt-footer-offset-x: -146px;
$twt-footer-offset-y: -73px;
$twt-footer-width: 43px;
$twt-footer-height: 43px;
$twt-footer-total-width: 333px;
$twt-footer-total-height: 268px;
$twt-footer-image: 'sprite.png';
$twt-footer: (146px, 73px, -146px, -73px, 43px, 43px, 333px, 268px, 'sprite.png', 'twt-footer', );
$twt-hover-name: 'twt-hover';
$twt-hover-x: 219px;
$twt-hover-y: 0px;
$twt-hover-offset-x: -219px;
$twt-hover-offset-y: 0px;
$twt-hover-width: 26px;
$twt-hover-height: 26px;
$twt-hover-total-width: 333px;
$twt-hover-total-height: 268px;
$twt-hover-image: 'sprite.png';
$twt-hover: (219px, 0px, -219px, 0px, 26px, 26px, 333px, 268px, 'sprite.png', 'twt-hover', );
$twt-name: 'twt';
$twt-x: 219px;
$twt-y: 112px;
$twt-offset-x: -219px;
$twt-offset-y: -112px;
$twt-width: 26px;
$twt-height: 26px;
$twt-total-width: 333px;
$twt-total-height: 268px;
$twt-image: 'sprite.png';
$twt: (219px, 112px, -219px, -112px, 26px, 26px, 333px, 268px, 'sprite.png', 'twt', );
$view-list-active-name: 'view-list-active';
$view-list-active-x: 0px;
$view-list-active-y: 252px;
$view-list-active-offset-x: 0px;
$view-list-active-offset-y: -252px;
$view-list-active-width: 16px;
$view-list-active-height: 16px;
$view-list-active-total-width: 333px;
$view-list-active-total-height: 268px;
$view-list-active-image: 'sprite.png';
$view-list-active: (0px, 252px, 0px, -252px, 16px, 16px, 333px, 268px, 'sprite.png', 'view-list-active', );
$view-list-name: 'view-list';
$view-list-x: 275px;
$view-list-y: 0px;
$view-list-offset-x: -275px;
$view-list-offset-y: 0px;
$view-list-width: 16px;
$view-list-height: 16px;
$view-list-total-width: 333px;
$view-list-total-height: 268px;
$view-list-image: 'sprite.png';
$view-list: (275px, 0px, -275px, 0px, 16px, 16px, 333px, 268px, 'sprite.png', 'view-list', );
$view-table-active-name: 'view-table-active';
$view-table-active-x: 275px;
$view-table-active-y: 46px;
$view-table-active-offset-x: -275px;
$view-table-active-offset-y: -46px;
$view-table-active-width: 16px;
$view-table-active-height: 16px;
$view-table-active-total-width: 333px;
$view-table-active-total-height: 268px;
$view-table-active-image: 'sprite.png';
$view-table-active: (275px, 46px, -275px, -46px, 16px, 16px, 333px, 268px, 'sprite.png', 'view-table-active', );
$view-table-name: 'view-table';
$view-table-x: 275px;
$view-table-y: 92px;
$view-table-offset-x: -275px;
$view-table-offset-y: -92px;
$view-table-width: 16px;
$view-table-height: 16px;
$view-table-total-width: 333px;
$view-table-total-height: 268px;
$view-table-image: 'sprite.png';
$view-table: (275px, 92px, -275px, -92px, 16px, 16px, 333px, 268px, 'sprite.png', 'view-table', );
$view-thumbnail-active-name: 'view-thumbnail-active';
$view-thumbnail-active-x: 275px;
$view-thumbnail-active-y: 138px;
$view-thumbnail-active-offset-x: -275px;
$view-thumbnail-active-offset-y: -138px;
$view-thumbnail-active-width: 16px;
$view-thumbnail-active-height: 16px;
$view-thumbnail-active-total-width: 333px;
$view-thumbnail-active-total-height: 268px;
$view-thumbnail-active-image: 'sprite.png';
$view-thumbnail-active: (275px, 138px, -275px, -138px, 16px, 16px, 333px, 268px, 'sprite.png', 'view-thumbnail-active', );
$view-thumbnail-name: 'view-thumbnail';
$view-thumbnail-x: 275px;
$view-thumbnail-y: 184px;
$view-thumbnail-offset-x: -275px;
$view-thumbnail-offset-y: -184px;
$view-thumbnail-width: 16px;
$view-thumbnail-height: 16px;
$view-thumbnail-total-width: 333px;
$view-thumbnail-total-height: 268px;
$view-thumbnail-image: 'sprite.png';
$view-thumbnail: (275px, 184px, -275px, -184px, 16px, 16px, 333px, 268px, 'sprite.png', 'view-thumbnail', );
$vk-footer-hover-name: 'vk-footer-hover';
$vk-footer-hover-x: 0px;
$vk-footer-hover-y: 73px;
$vk-footer-hover-offset-x: 0px;
$vk-footer-hover-offset-y: -73px;
$vk-footer-hover-width: 43px;
$vk-footer-hover-height: 43px;
$vk-footer-hover-total-width: 333px;
$vk-footer-hover-total-height: 268px;
$vk-footer-hover-image: 'sprite.png';
$vk-footer-hover: (0px, 73px, 0px, -73px, 43px, 43px, 333px, 268px, 'sprite.png', 'vk-footer-hover', );
$vk-footer-name: 'vk-footer';
$vk-footer-x: 73px;
$vk-footer-y: 0px;
$vk-footer-offset-x: -73px;
$vk-footer-offset-y: 0px;
$vk-footer-width: 43px;
$vk-footer-height: 43px;
$vk-footer-total-width: 333px;
$vk-footer-total-height: 268px;
$vk-footer-image: 'sprite.png';
$vk-footer: (73px, 0px, -73px, 0px, 43px, 43px, 333px, 268px, 'sprite.png', 'vk-footer', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 57px;
$vk-hover-y: 146px;
$vk-hover-offset-x: -57px;
$vk-hover-offset-y: -146px;
$vk-hover-width: 27px;
$vk-hover-height: 26px;
$vk-hover-total-width: 333px;
$vk-hover-total-height: 268px;
$vk-hover-image: 'sprite.png';
$vk-hover: (57px, 146px, -57px, -146px, 27px, 26px, 333px, 268px, 'sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 146px;
$vk-offset-x: 0px;
$vk-offset-y: -146px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 333px;
$vk-total-height: 268px;
$vk-image: 'sprite.png';
$vk: (0px, 146px, 0px, -146px, 27px, 26px, 333px, 268px, 'sprite.png', 'vk', );
$spritesheet-width: 333px;
$spritesheet-height: 268px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-up, $checkbox-active, $checkbox-hover, $checkbox, $fb-footer-hover, $fb-footer, $fb-hover, $fb, $pin, $radio-active, $radio, $star-circuit, $star-full, $telephone, $twt-footer-hover, $twt-footer, $twt-hover, $twt, $view-list-active, $view-list, $view-table-active, $view-table, $view-thumbnail-active, $view-thumbnail, $vk-footer-hover, $vk-footer, $vk-hover, $vk, );
$spritesheet: (333px, 268px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/sprite/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
