body{
	background: $bg;
}
.wrapper{
	width: 100%;
}
.header{
	width: 100%;
	min-width: 1100px;
	background: $fontActive;
}
.header-contact{
	box-sizing: border-box;
	min-height: 77px;
	padding-top: 25px;
}
.section-wrapper{
	@include clearfix();
	width: 1100px;
	margin: auto;
}
.header-search{
	box-sizing: border-box;
	background: $bg;
	border-top: 2px solid $border;
	height: 96px;
	padding-top: 30px;
}
.nav{
	background: $fontActive;
	min-width: 1100px;
}
.breadcrumbs{
	min-width: 1100px;
}
.nav-name{
	min-width: 1100px;
}
footer{
	background: url(../img/background/bg-footer.png);
	background-repeat: repeat-x;
}