.wrapper{
	width: 100%;
}
.header{
	width: 100%;
}
.header-contact{
	box-sizing: border-box;
	min-height: 77px;
	padding-top: 25px;
}
.section-wrapper{
	@include clearfix();
	width: 1100px;
	margin: auto;
}
.header-search{
	box-sizing: border-box;
	background: $bg;
	border-top: 2px solid $border;
	height: 96px;
	padding-top: 30px;
}