$color: #333333;
$bg: #f4f4f4;
$border: #dee1e4;
$active: #ff6600;
$font: #7f7f7f;
$fontActive: #ffffff;
$nav-hover: #e4ebee;
$bgContent: #fbfbfb;
$bgAcive: #d9e5ea;
$link: #5db2fc;
$text-content: #5d656c;
$black: #000000;
$num: #fbfbfb;
$bgnum: #b5beca;
$green: #60ac49;
$paghover: #e0e0e0;
$bg-thumbnail: #e6e6e6;


body{
	font-family: 'OpenSans';
	font-size: 14px;
	color: $color;
}
ul{
	list-style: none;
	padding:0;
	margin: 0;
}